.price-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 70%;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Depth for container */
}

.price-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #2b3e42;
    text-align: left;
}

.price-table tbody tr:not(.total-row):hover {
    background-color: #f0f0f0;
}

.price-table td {
    padding: 12px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.price-label {
    font-size: 1rem;
    font-weight: bold;
    color: #6e4c31; /* Coffee-brown */
}

.price-label-nt{
    color: #81644c;
}

.price-value {
    text-align: right;
    font-size: 1rem;
    color: #2b3e42;
}

.total-row {
    font-weight: bold;
    background-color: #d4a500; /* Golden Yellow */
    color: white;
}

.total-row td {
    border-bottom: none;
}
