/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf3f5;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    border-radius: 15px;
}

/* Logo */
.navbar-logo img {
    height: 50px;
    cursor: pointer;
    margin-right: 100px;

}



/* Icons */
.navbar-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-button,
.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s ease;
}

.icon {
    font-size: 24px;
    color: #2b3e42; /* Default icon color */
    transition: color 0.3s ease;
}

.icon:hover {
    color: #d4a500; /* Golden color on hover */
    scale: 1.2;
}

.cart-button .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #d4a500;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.login-button {
    padding: 8px 15px;
    background-color: #2b3e42; /* Dark Gray background */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #d4a500; /* Golden Yellow on hover */
}

@media (max-width: 900px) {
    .navbar-logo img {
        height: 40px;  /* Decrease the size of the logo on smaller screens */
        margin-right: 20px;  /* Reduce the margin to fit better */
    }
    .login-button{
        font-size: 0.7rem;
    }

}

@media (max-width: 600px) {
    .navbar-logo img {
        height: 30px;  /* Decrease the size of the logo on smaller screens */
        margin-right: 0;  /* Reduce the margin to fit better */
    }
    .navbar-icons{
        flex-direction: column;
    }
}