

.payment-option-selection h3 {
    font-size: 1.5rem;
    text-align: center;
}

.payment-option {
    display: flex;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

.payment-option input {
    margin-right: 15px;
}

.payment-option img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

.payment-option span {
    font-size: 1rem;
}
