

.eshop-header h1 {
    font-size: 2.5rem;
    color: #d4a500; /* Golden Yellow */
    text-align: center;
}

.eshop-header h2 {
    font-size: 1.8rem;
    color: #6e4c31; /* Coffee Brown */
    text-align: center;
    margin-bottom: 20px;
}

.eshop-container {
        padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.coffee-grid {
    display: grid;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto; /* Centers the entire grid within its parent */
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column size */
    gap: 20px;
    padding: 20px;
}


.filter-container1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

.filter-container1 select {
    padding: 5px;
    font-size: 1rem;
}
.filter-container1 label {
    font-size: 0.9rem;
    color: #2b3e42; /* Dark Gray text for label */
}
#size-filter, #city-filter {
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d4a500; /* Golden Yellow background */
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

#size-filter:hover, #city-filter:hover {
    border-color: #d4a500; /* Golden Yellow border on hover */
    background-color: #e6e6e6;
    color: black;
    cursor: pointer;
}

#size-filter:focus, #city-filter:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(212, 165, 0, 0.8); /* Golden Yellow focus shadow */
    cursor: pointer;
}

/* Option Styling */
#size-filter option, #city-filter option {
    padding: 10px;
    border-radius: 10px;
    background-color: #d4a500; /* Golden Yellow option */
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

#size-filter::after, #city-filter::after {
    content: '\2193'; /* Downwards arrow */
    font-size: 1.2rem;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}


#size-filter:focus::after, #city-filter:focus::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow on focus */
}

#size-filter option:hover, #city-filter option:hover{
    background-color: #d4a500;
    color: white;
    cursor: pointer;
}


/*@media (min-width: 768px) and (max-width: 1200px) {*/
/*    .coffee-grid {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr); !* 2 columns *!*/
/*        justify-items: center; !* Centers each grid item *!*/
/*        text-align: center;*/
/*        margin: 0 auto; !* Centers the entire grid *!*/
/*        align-items: center; !* Centers vertically *!*/
/*        gap: 20px; !* Adds space between grid items *!*/
/*    }*/
/*}*/


/*@media (max-width: 768px) {*/
/*    .coffee-grid {*/
/*        display: grid;*/

/*        grid-template-columns: none;*/
/*        justify-content: center;*/
/*        text-align: center;*/
/*        margin: 0 auto; !* Centers the entire grid within its parent *!*/

/*        align-items: center;*/

/*    }*/
/*}*/